name: "WhatsApp Node Engine"
version: "1.0.2"
slug: "whatsapp_node_engine"
description: "Browserless WhatsApp Engine using TypeScript and Baileys"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
map:
  - config:rw
options: {}
schema: {}
ports:
  5002/tcp: 5002
